@using Weather.Data.ViewModel
@model List<SelectedTopTemperature>

@foreach (SelectedTopTemperature city in Model)
{
    <p>@city.NomeCidade</p>
    <p>@city.TemperatureMaxima</p>
    <p>@city.TemperatureMinima</p>
}
