@using Weather.Data.ViewModel
@model List<SelectedTopTemperature>


@{
    ViewBag.Title = "Home Page";
}

@{
    Html.RenderAction("TopThreeHottestTemperatures", "Home");
    Html.RenderAction("TopThreeColdestTemperatures", "Home");
}

<h2>The temperature in the last 7 days</h2>

@{
    Html.RenderAction("ReportSevenDaysWeather", "Home", new {
        Id = 1,
        Nome = "Goiânia",
        EstadoId = 1
    });
}