@using Weather.Data.Models
@model IEnumerable<SelectListItem>


@{
    ViewBag.Title = "Home Page";
}

@{
    Html.RenderAction("TopThreeHottestTemperatures", "Home");
    Html.RenderAction("TopThreeColdestTemperatures", "Home");
}

<h2>The result:</h2>
@Html.DropDownList("cidades", Model, "selecione a cidade")

<h3>The temperature in the last 7 days</h3>
@{
    Html.RenderAction("ReportSevenDaysWeather", "Home", new
    {
        Id = 1,
        Nome = "Goiânia",
        EstadoId = 1
    });
}
