@using Weather.Data.Models
@model IEnumerable<SelectListItem>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clima tempo simples</h1>
</div>

<div class="row">
    <div class="col-md-6">
        @{Html.RenderAction("TopThreeHottestTemperatures", "Home");}
    </div>
    <div class="col-md-6">
        @{Html.RenderAction("TopThreeColdestTemperatures", "Home");}
    </div>
</div>

<div class="pull-right">
    <label>Cidade: </label>
    @Html.DropDownList("cidades", Model, "", new { style = "width: 400px;" })
</div>


<div id="container" class="container-fluid" style="margin-top: 130px;">
    @Html.Action("ReportSevenDaysWeather", "Home")
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

<style>
    .select2-results__option[aria-selected=true] {
        display: none;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        // remover a option vazia que é inserida na incialização
        $("#cidades option[value='']").remove();
        // remover todos os itens selecionados, deixar o select session do dropdown limpo
        $('#cidades').val(null).trigger('change');

        // select2 config
        $("#cidades").select2({
            placeholder: 'selecione a cidade',
            multiple: true,
            allowClear: true,
            maximumSelectionLength: 5,
            width: 'resolve'
        });

        // chamar controller ao selecionar option
        $('#cidades').on('select2:select', function (e) {
            var cidadeId = e.params.data.id;

            $.ajax({
                url: '@Url.Action("ReportSevenDaysWeather", "Home")',
                type: 'GET',
                data: { cidadeId: cidadeId },
                success: function (result) {
                    $('#container').append(result);
                }
            });
        });

        // limpar todos os itens 
        $('#cidades').on('select2:clear', function (e) {
            $('#container').empty();
        })
    });


</script>