@model Weather.Data.ViewModel.TopMaxHottestViewModel

@{
    ViewBag.Title = "Home Page";
}

@foreach (var city in Model.TopThreeHottest)
{
    <p>@city.Cidade.Nome</p>
    <p>@city.TemperaturaMaxima</p>
    <p>@city.TemperaturaMinima</p>
}